* {
	font-family: 'Ubuntu', sans-serif;
	box-sizing:border-box;
}

	.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48;
}

.container{
	span {
		font-size: 1.5vw;
		margin: 0;
	}
	img {
		width: 35vw;
		display: block;
		margin: 20px auto 10px auto;
  	opacity: 0;
  	transition: opacity 0.3s ease-in-out;
	}
	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.close {
		display: none;
	}
	.text {
		color: rgb(51, 51, 226);
		}
	width: 50vw;
	border-bottom: 2px black solid;
	padding: 10px;
	transition: max-height 0.3s ease-in-out, background-color 0.3s ease-in-out;
	position: relative;
	overflow: hidden;
	max-height: 3vw;
}

.mainContent {
	width: 50vw;
  margin-right: auto;
  margin-left: auto;
}

header {
	h1 {
		font-size: 2.5vw;
	}
	max-height: 500px;
	width: 50vw;
  margin-right: auto;
  margin-left: auto;
	border-bottom: 2px black solid;
	padding: 10px;
}

@media (hover : hover) {
	.container {
		.expand {
			display: none;
		}
	}

	.mainContent:hover {
			.text {
				color: black;
		}
		.expand {
			display: inline-block;
		}
	}

	.container:hover{
	img {
			opacity: 1;
	}
	.expand {
		display: none;
	}

	.close{
		display: inline-block;
	}
	
	max-height:1000px;
	cursor: pointer;
	}
}

.container:active {
	.text, .close {
  color: rgb(51, 51, 226);
	}
	.meme {
		opacity: 0.5;
	}
}

.container:focus {
		max-height:1000px;
		outline: none;
		img {
			opacity: 1;
	}
	.expand {
		display: none;
	}

	.close{
		display: inline-block;
	}
	.text, .close {
		color: black;
		}
}

@media (max-width: 1400px) {
	header, .container, .mainContent {
		width: 60vw;
		h1{
			font-size: 3vw;
		}
		span{
			font-size: 2vw;
		}
	}
	.container{
		.meme {
			width: 45vw;
		}
		max-height: 4vw;
	}
}

@media (max-width: 1000px) {
	header, .container, .mainContent {
		width: 70vw;
		h1{
			font-size: 3.5vw;
		}
		span{
			font-size: 2.5vw;
		}
	}
	.container{
		.meme {
			width: 50vw;
		}
		max-height: 5vw;
	}
}

@media (max-width: 800px) {
	header, .container, .mainContent {
		width: 80vw;
		h1{
			font-size: 4vw;
		}
		span{
			font-size: 3vw;
		}
	}
	.container{
		.meme {
			width: 55vw;
		}
		max-height: 6vw;
	}
}

@media (max-width: 600px) {
	header, .container, .mainContent {
		width: 95vw;
		h1{
			font-size: 6vw;
		}
		span{
			font-size: 5vw;
		}
	}
	.container{
		.meme {
			width: 70vw;
		}
		max-height: 9vw;
	}
}

@media (max-width: 400px) {
	header, .container, .mainContent {
		width: 95vw;
		h1{
			font-size: 8vw;
		}
		span{
			font-size: 6vw;
		}
	}
	.container{
		.meme {
			width: 80vw;
		}
		max-height: 11vw;
	}
}